#nombreDelPokemon{
    background-color: yellow;
    color: red;
    font-size: 25px;
}

#pesoDelPokemon{
    background-color: yellow;
    color: red;
    font-size: 25px;
}


#TipoDePokemon{
    background-color: yellow;
    color: red;
    font-size: 25px;
}


